traffic_signs_model.keras
traffic_signs_model_without_crop_5705.keras
yolov5s.pt
traffic_signs_model_90x90_crop_94_17.keras
traffic_signs_model_without_crop_64_29.keras
yolov8n.pt
yolo_model.onnx
temp_image.jpg
